@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Outfit:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: light) {
  /* Dark theme styles go here */
  body {
    font: black;
    background-color: #ECECF3;
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  body {
    font: white;
    background-color: rgb(31,41,55);
  }
}


/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 1
}

.Toastify__toast-container {
  font-size: 16px;
}

.dead {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}